<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pollos Lobo</title>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	<nav>

        <ul>
            <li><a href="#contacto">CONTACTO</a></li>
            <li><a href="#servicios">SERVICIOS</a></li>
            <li><a href="#nosotros">NOSOTROS</a></li>
            <li><a href="#inicio">INICIO</a></li>
        </ul>
    </nav>

    <img class="logo" alt="Pollos Lobo" src="img/LOGOTIPO-01.svg"  href="#"> 
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner" id="inicio">
            <div class="item active" id="inicio">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" id="inicio" style="background-image:url('img/imagen-uno.jpg');">
                  <div class="flex">
                      <img class"bandera" alt="Bandera" src="img/bandera-08-08.svg" data-aos="fade-up">          
                  </div>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" id="inicio" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" id="inicio" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>
    </header>


    <div class="seprador2">
      <div class="row"></div>
    </div>
    

	 <div class="segunda" id="nosotros" data-parallax="scroll" data-image-src="img/madera-01-02.jpg">
     <div class="flex">
        <img class="nosotros" alt"nosotros" src="img/nosotros-02-02-02.svg" data-aos="fade-up" data-aos-duration="1500">
      </div>

          <div class="row" style= "position:absolute; top:930px;  margin: 10px 50px;">
              <div class="col-md recuadro hvr-bounce-in">
                  <h1 class="titulos">
                    Misión
                  </h1>
                  <h4 class="contenido">
                    Comercializadora Avícola Macías, S.A de C.V Empresa Tlaxcalteca, comprometida con sus clientes garantizando en su producto los mas altos estándares de calidad e inocuidad, y así satisfacer las necesidades de consumo fortaleciendo nuestro sector avícola.
                  </h4>
              </div>     
          </div>
   

          <div class="row">
              <div class="col-md-4">
                <span class="fa fa-phone" aria-hidden="true"></span>
                  <h5>
                    246-170-1420 <br> 246-464-4296 <br> 246-464-5770 <br>
                  </h5>
              </div>
              <div class="col-md-4">
               <span class="fa fa-map-marker" aria-hidden="true"></span>
                  <h5>
                    Carr. Santa Ana El Molinito No.31 <br> San Pablo Apetatitlan, Tlax.
                  </h5>
              </div>
              <div class="col-md-4">
                <span class="fa fa-envelope" aria-hidden="true"></span>
                  <h5>
                    contacto@polloslobo.com.mx
                  </h5>
              </div>
          </div>
   </div>

	<div class="sepradorimg" id="servicios" data-parallax="scroll" data-image-src="img/madera-01-02.jpg">
    <div class="tercera">
      <div class="flex2">
        <img class"servicios" alt="servicios" src="img/servicios-titulo-05-05.svg" data-aos="fade-up" data-aos-duration="1500">       
      </div>     
    </div>		
	</div>

	<div class="separador-azul" id="contacto">
    <div class="flex2">
      <img class= "contacto" alt="contacto" src="img/contacto-07-07.svg" data-aos="fade-up" data-aos-duration="1500">      
    </div>
	</div>

  <div class="cuarta" id="contacto" data-parallax="scroll" data-image-src="/img/madera-01-02.jpg">
    <div class="row">
      <div class="col-md-6 mapa"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.9548463546685!2d-98.19947043946996!3d19.33008717410067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfdee752ebea7f%3A0xc5a97c6d5c8230d1!2sPollos+Lobo!5e0!3m2!1ses!2smx!4v1488526551646" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe> 
      </div> 
        <div class="col-md-6">
            <h1 class="estilo_h1" align="center">
              SUCURSALES 
            </h1>
          <div class="col-md">
            <h2 class="estilo_h2"><span class="fa fa-map-marker fa-lg" aria-hidden="true"></span>
              Tlaxcala:
            </h2>
              <h3>
                Carr. Santa Ana El Molinito No.31 <br> San Pablo Apetatitlan, Tlax. 
              </h3>
          </div>
          <div class="col-md">
            <h2 class="estilo_h2"><span class="fa fa-map-marker fa-lg" aria-hidden="true"></span>
              Puebla:
            </h2>
              <h3>
                Carr. Santa Ana El Molinito No.31 <br> San Pablo Apetatitlan, Tlax. 
              </h3>
          </div>
          <div class="col-md">
            <h2 class="estilo_h2"><span class="fa fa-phone fa-lg" aria-hidden="true"></span>
              Teléfonos:
            </h2>
            <h3>
              ·(246)464-4296 ·(246)464-5770 <br>
            </h3>
          </div>
          <div class="col-md">
            <h2 class="estilo_h2"><span class="fa fa-envelope" aria-hidden="true"></span>
              Correo:
            </h2>
              <h3>
                contacto@polloslobo.com.mx
              </h3>
          </div>
        </div>
    </div>
  </div>

    <div class="sepradorbottom">
      <div class="row"></div>
    </div>

     <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>
	
</body>
</html>