<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pollos Lobo</title>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/parallax.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="js/init.js"></script>
	<script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	<nav>

        <ul>
            <li><a href="#contacto">CONTACTO </a></li>
            <li><a href="#productos">PRODUCTOS</a></li>
            <li><a href="#nosotros">NOSOTROS</a></li>
            <li><a href="#inicio">INICIO</a></li>
        </ul>
    </nav>

    <img class="logo" alt="Pollos Lobo" src="/img/logo_pollos-02.svg">

    <div class="primera" id="inicio" data-parallax="scroll" data-image-src="/img/pollo_fresco-05.jpg"> 
    	<div class="flex">
    		<img class"bandera" alt="Bandera" src="/img/bandera-03.svg" data-aos="zoom-in">
    	</div>
    </div>

    <div class="seprador">
		<div class="row">
  			<div class="col-md-4">
  				<span class="fa fa-phone" aria-hidden="true"></span>
  					<h4>
						246-170-1420 <br> 246-464-4296 <br> 246-464-5770 <br>
  					</h4>
  			</div>
  			<div class="col-md-4">
  				<span class="fa fa-map-marker" aria-hidden="true"></span>
  					<h4>
  						Carr. Santa Ana El Molinito No.31 <br> San Pablo Apetatitlan, Tlax.
  					</h4>
   			</div>
  			<div class="col-md-4">
  				<span class="fa fa-envelope" aria-hidden="true"></span>
  					<h4>
  						contacto@polloslobo.com.mx
  					</h4>
  			</div>
		</div>
	</div>
	<div class="seprador2">
		<span class="fa fa-facebook-official" aria-hidden="true"></span>
		<span class="fa fa-youtube-play" aria-hidden="true"></span>
		<span class="fa fa-instagram" aria-hidden="true"></span>
  		<div>
  			<h4>Aviso de Privacidad | Términos y Condiciones</h4>	
  		</div>	
	</div>

	<div class="segunda" id="nosotros" data-parallax="scroll" data-image-src="/img/secc.png"></div>

	<div class="seprador">
		orem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi, incidunt exercitationem vitae aliquid hic in aliquam reiciendis laboriosam voluptates ipsam.
	</div>
	<div class="seprador2">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</div>


	<div class="tercera" id="productos" data-parallax="scroll" data-image-src="/img/huevos.jpeg"></div>
	
</body>
</html>