// Place all the styles related to the Pages controller here.
// They will automatically be included in applicationcss.
// You can use Sass (SCSS) here: http://sass-langcom/

*{
	margin: 0px;
	padding: 0px;

}

nav{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #2F4DB1;
	opacity: none;
	z-index: 5;
	font-weight: bold;
	
}

ul{
	list-style: none;
}

ul li{
	float: right;
	display: block;
	padding: 15px;
	margin-right: 30px;
}

ul li a{
    font-size: 25px;
    font-family: Gill Sans;
    text-decoration: none;
    outline: 0;
    opacity: none;
    color: #FFFFFF;
    text-decoration: none;
}

ul li a:hover{
	color: #FFF200;
	text-decoration: none;
}

ul li a:focus{
	color: #FFFFFF;
	text-decoration: none;
}

.primera {
    min-height: 98vh;

    padding-top: 130px;
}

/* Imagen Bandera Frescura dia a dia*/
.bandera{
    width: 500px;
    height: 150px;

}


/* Imagen Nosotos*/
.nosotros{
	width: 700px;
	height: 70px;
}

/* Separador blanco */
.seprador{
	min-height: 20vh;
	background: #FFFFFF;
	text-align: center;
	padding-top: 50px;
	font-size: 32px;
	color: #27348B;
	font-weight: bold;
}

/* Seccion de Servicios fondo completo*/
.sepradorimg{
	min-height: 150vh;
	background: transparent;
	text-align: center;   	
}

/* Separador rojo */
.seprador2{
	min-height: 1vh;
	background: #FA2F39;
	text-align: center;
	padding-top: 0;
	font-size: 32px;
	color: #FFFFFF;
}

.segunda {
    min-height: 100vh;
    background: transparent;
    text-align: center;
    padding-top: 120px;
    font-size: 25px;
    color: #2F4DB1;
    font-weight: bold;

}

/* Imagen de fondo de Servicios*/
.tercera{
    height: 50vh;
    background-image: url(/img/pollo1280x680.jpg); 

}

/*Imagen letras SERVICIOS*/
.servicios {
	width: 500px;
	height: 50px;
}

.cuarta {
    min-height: 70vh;
    background: transparent;
    font-size: 10px;
    font-family: myriad pro;
	font-weight: bold;
    color: #2F4DB1;
}

.estilo_h1{
	font-weight: bold;
}

.estilo_h2{
	font-weight: bold;
}

.separador-azul{
	min-height: 30vh;
	background: #2F4DB1;
	padding-top: 0;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.flex2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding-top: 15vh;
}

/* Logotipo pollos Lobo */
.logo {
	z-index: 10;
    position: fixed;
    top: 0px;
    left: 60px;
    border: none;
    opacity: none;
    height: 190px;
}

.recuadro{
	background-color:rgba(255,255,255,0.5);
}

.contenido{
	color: #2F4DB1;
	text-align: center;
	padding: 10px 100px;

}

.titulos{
	color: #BD0E1A;
	font-weight: bold;
}

/* Iconos */
.fa-map-marker {
    color:#BD0E1A;
}
.fa-phone {
    color:#BD0E1A;
}
.fa-envelope{
	color:#BD0E1A;
}

.mapa {
	padding-top: 45px;
}

/* Footer */
.sepradorbottom{
	min-height: 10vh;
	background: #2F4DB1;
	text-align: center;
	padding-top: 0;
	font-size: 32px;
	color: #FFFFFF;
}




